@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #fff
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 200px;
    background-color: #fff;
}

.container-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 200px;
    margin: 0 auto;
    /* border: 1px solid black; */
}

.box-logo img {
    height: 200px;
}

.container-links ul {
    display: flex;
    list-style: none;
    color: #000;
}

.container-links li {
    margin-right: 20px;
    font-size: 1.2em;
}

.container-links a {
    text-decoration: none;
    color: #000;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.541);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 500;
    transition: all 200ms ease-out;
}

.container-links a:hover {
    box-shadow: 0 0 0 4px #fce534da;
    color: #000;
}

#instagram {
    font-size: 1.1em;
    font-weight: 500;
    color: #C13584;
}

.header-extensao {
    width: 100%;
    height: 300px;
    background-image:  linear-gradient(to right, rgba(255,0,0,0), #FCE534);;
    margin-top: 10px;
}

.header-extensao {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container-section-acomodacoes {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin: 40px auto;
    height: 1100px;
}

.section-acomodacoes {
    width: 12%;
    height: 440px;
    margin: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.123);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section-acomodacoes img {
    max-width: 100%;
    height: 250px;
    border-radius: 15px;
}

.section-acomodacoes p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.1em;
}

.box-acomodacoes-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    margin-top: 40px;
}

.box-acomodacoes-link a {
    padding: 5px 8px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 200ms ease-out;
    color: #000;
    background-color: #FCE534;
}

.box-acomodacoes-link a:hover {
    border: 1px solid black;
    box-shadow: 0 0 0 8px #FCD96F;
    color: #000;
}

footer {
    width: 100%;
    height: 250px;
    background-color: #FCE534;
    text-align: center;
    padding: 30px;
    font-size: 1.4em;
}

@media screen and (max-width: 1820px) {
    
    .section-acomodacoes {
        width: 13%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 1800px;
    }
}

@media screen and (max-width: 1616px) {
    
    .section-acomodacoes {
        width: 15%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 1800px;
    }
}

@media screen and (max-width: 1427px) {
    
    .section-acomodacoes {
        width: 17%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 1800px;
    }
}

@media screen and (max-width: 1200px) {
    
    .section-acomodacoes {
        width: 19%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 2500px;
    }
}

@media screen and (max-width: 1049px) {
    
    .section-acomodacoes {
        width: 23%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 2500px;
    }
}

@media screen and (max-width: 860px) {
    
    .section-acomodacoes {
        width: 28%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 3300px;
    }
}

@media screen and (max-width: 710px) {
    
    .section-acomodacoes {
        width: 32%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 3300px;
    }
}

@media screen and (max-width: 630px) {
    
    .section-acomodacoes {
        width: 35%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 3300px;
    }
}

@media screen and (max-width: 581px) {
    
    .section-acomodacoes {
        width: 42%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 6500px;
    }
}

@media screen and (max-width: 553px) {
    
    .section-acomodacoes {
        width: 42%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 6500px;
    }

    .container-links {
        display: none;
    }

    .box-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
    }

    .header-extensao h1 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 552px) {
    
    .section-acomodacoes {
        width: 42%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 6500px;
    }

    .container-links {
        display: none;
    }

    .box-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
    }
}

@media screen and (max-width: 551px) {
    
    .section-acomodacoes {
        width: 42%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 6500px;
    }

    .container-links {
        display: none;
    }

    .box-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
    }
}

@media screen and (max-width: 514px) {
    
    .section-acomodacoes {
        width: 42%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 6500px;
    }

    .container-links {
        display: none;
    }

    .box-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
    }

    .header-extensao h1 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 442px) {

    .header-extensao h1 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 513px) {
    
    .section-acomodacoes {
        width: 42%;
        height: 440px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .container-section-acomodacoes {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        width: 90%;
        margin: 40px auto;
        height: 6500px;
    }

    .container-links {
        display: none;
    }

    .box-logo {
        width: 100%;
        display: flex;
        justify-content: center;
        height: 200px;
    }

    .header-extensao h1 {
        font-size: 1.6em;
    }
}

@media screen and (max-width: 442px) {

    .header-extensao h1 {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 401px) {

    .header-extensao h1 {
        font-size: 1.4em;
    }

    footer {
        height: 300px;
    }

    .section-acomodacoes {
        width: 50%;
        height: 460px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 401px) {

    .header-extensao h1 {
        font-size: 1.4em;
    }

    footer {
        height: 300px;
    }

    .section-acomodacoes {
        width: 60%;
        height: 450px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 375px) {

    .header-extensao h1 {
        font-size: 1.3em;
    }

    footer {
        height: 300px;
    }

    .section-acomodacoes {
        width: 69%;
        height: 450px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 320px) {

    .header-extensao h1 {
        font-size: 1.1em;
    }

    footer {
        height: 300px;
    }

    .section-acomodacoes {
        width: 69%;
        height: 450px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

@media screen and (max-width: 277px) {

    .header-extensao h1 {
        font-size: 1.4em;
    }

    footer {
        height: 300px;
    }

    .section-acomodacoes {
        width: 69%;
        height: 450px;
        margin: 40px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        border: 1px solid rgba(0, 0, 0, 0.123);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}